@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  /* --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji'; */
  --font-sans: "Google Sans", "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

.background {
  background: #131313;
}

.header {
  background: #19191c;
  color: #e6e6e6;
  font-family: Google Sans;
}

.footer {
  background: #19191c;
  color: #e6e6e6;
  font-family: Google Sans;
}

.sidebar {
  background: #19191c;
  color: #e6e6e6;
  font-family: Google Sans;
}

.grey_card {
  background: #19191c;
  border-radius: 0.375rem;
  border-color: #767676;
  border-width: 1px;
}

.title_text {
  color: #e6e6e6;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Google Sans;
}

.content_text {
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  font-family: Google Sans;
}

.sidebar_text {
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  font-family: Google Sans;
}

.sidebar_text:hover {
  background-color: #e6e6e6;
  color: #b02dcc;
  transition-duration: 200ms;
}

.breadcrumb_text {
  color: #e6e6e6;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: Google Sans;
}

.breadcrumb_text:hover {
  color: #b02dcc;
}

.input_text {
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  font-family: Google Sans;
  border: 1px solid #d1d5db;
  /* equivalente a border-gray-300 */
  border-radius: 0.375rem;
  /* rounded-md */
  outline: none;
}

.input_text:focus {
  box-shadow: 0 0 0 2px #b02dcc;
  /* focus:ring-2 focus:ring-blue-500 */
}

.card_text {
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  font-family: Google Sans;
}

/* BOTONES */
.purple_button {
  /* background-image: linear-gradient(to left, #b02dcc, #7b1e8a); */
  background-color: #b02dcc;
  color: #e6e6e6;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 700;
  font-family: Google Sans;
  border-color: #767676;
  border-width: 1px;
}

.purple_button:hover {
  filter: brightness(0.8);
  /* reduce luminosidad */
  color: #e6e6e6;
  border-color: #767676;
  border-width: 1px;
}

.action_button {
  color: #e6e6e6;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 700;
  font-family: Google Sans;
  border-color: #767676;
  border-width: 1px;
}

.action_button:hover {
  filter: brightness(0.8);
  /* reduce luminosidad */
  color: #e6e6e6;
  border-color: #767676;
  border-width: 1px;
}